<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--<ThresholdFilter level="trace"/>-->

    <Appenders>
        <RollingFile name="rootFile" fileName="LOGS\root.log" filePattern="LOGS\root-%d{MM-dd-yyyy}-%i.log">
            <DefaultRolloverStrategy fileIndex="max" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 KB"/>
                <TimeBasedTriggeringPolicy interval="2"/>
            </Policies>
            <PatternLayout pattern="%d{MM-dd-yy} %d{HH:mm:ss.SSS} [%t] %-5p %c{2} - %m%n"/>
        </RollingFile>
        <RollingFile name="serviceAppender" fileName="LOGS\service.log" filePattern="LOGS\service-%d{MM-dd-yyyy}-%i.log">
            <DefaultRolloverStrategy fileIndex="max" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="2"/>
            </Policies>
            <PatternLayout pattern="%msg%n"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
        <!--<Logger name="fileLogger" level="trace">
            <AppenderRef ref="serviceAppender"/>
        </Logger>-->
    </Loggers>

</Configuration>