body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;

}

h3#header {
    background-color: #282830;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.button th{
    padding-bottom: 15px;
    color: #C4C4C4;;
}
.button{
    font: 400 16px/1.5em sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}

.button td{
    /*text-align: center;
    vertical-align: middle;
    background-color: #38ABBA;
    border-radius: 2px;
    padding: 8px;*/
}
.button input{
    font-size: 16px;
    color: white;
    margin: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #38ABBA;
    border: none;
    border-radius: 2px;
    padding: 12px;
}
.button input:hover{
    transition: background .4s;
    background-color: #267580;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.button td:hover{
    /*transition: background .4s;
    background-color: #267580;
    cursor: pointer;*/
}
/*.button a {
    color: white;
    text-decoration: none;
    padding: 12px;
}*/

.container {
    overflow: visible;
    /*margin: 0;*/
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
    left: 50%;
    /*position: fixed;*/
    top: 35%;
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}
.form {
    width: 600px;
    height: 300px;
    padding: 5px;
    border-radius: 4px;
}
.footer{
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    color: white;
    padding-top: 5px;
}
.inner{
    text-align: center;
    margin: 0;
    background-color: white;
}
.inner select{
    margin-top: 21px;
}

p#home a{
    text-transform: uppercase;
    padding-left: 8px;
    font-size: 12px;
    color: #C4C4C4;
    text-decoration: none;
}

select {
    font-size: 12px;
    text-align: center;
    padding:3px;
    border-radius: 1px;
    background: url("arrow_mini.png") no-repeat right #E2EBE1;
    color:#888;
    border: none;
    display: inline-block;
    -webkit-appearance:none;
    cursor:pointer;
    width: 180px;
}
select:hover{
    background: url("arrow_mini_hover.png") no-repeat right #E2EBE1;
}
.box{
    margin-bottom: 21px;
}
.list{
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;

}
.list th{
    padding: 4px;
    font-size: 14px;
}
.list tr:nth-child(even){
    background-color: #D5EAEB;
}
.list td{

    padding: 6px 3px 6px 3px;
    text-align: center;
    font-size: 12px;
}
.info{
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #C4C4C4;
    text-align: justify;
    width: 300px;
    word-wrap: break-word;
    /*padding: 5px;*/
    border-radius: 4px;
}
.form{
    font-family: sans-serif;
    font-size: 12px;
}
input[type="text"], input[type=number] {
    margin: 0;
    height: 25px;
    -moz-appearance: none;
    box-shadow: none;
    color: #969595;
    text-align: center;
    /*transition: box-shadow 0.3s, border 0.3s;*/
    border-radius: 1px 1px 1px 1px;
    background-color: #E2EBE1;
    border: solid 1px white;
}
input#id {
    width: 40px;
}
input#price {
    width: 70px;
}

input#goods {
    width: 200px;
}

.input{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.input th{
    padding-top: 16px;
    font-size: 13px;
}
.input td p{
    color: #383842;
    font-weight: bold;
    font-size: 13px;
    padding-right: 6px;
    padding-left: 6px;
}
img.operation{
    width: 80px;
    height: 80px;
}
p#operation{
    font-weight: bold;
    font-size: 34px;
    color: #383842;
}

p#ok{
    font-size: 16px;
    text-align: center;
}