body {
    font-family: 'Roboto', sans-serif;

}
h3#header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 3px;
    color: #454545;
    text-align: center;
    vertical-align: middle;
}

table.button{
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
}

.button tr{
    text-align: center;
    vertical-align: middle;
    background-color: #4C5578;
}

.button td{
    border-radius: 2px;
    padding: 5px;
}
.button tr:hover{
    transition: background .4s;
    background-color: #7781A8;
    cursor: pointer;
}
.button tr:active{
    transition: background .2s;
    background-color: #AB3E3E;
}
.button a {
    color: white;
    text-decoration: none;
    padding: 12px;
}

.container {
    left: 50%;
    position: fixed;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form {
    width: 300px;
    background-color: #E6E9F2;
    padding: 5px;
    border-radius: 4px;
}
