body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}
h3#header {
    background-color: #282830;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.button th{
    padding-bottom: 15px;
    color: #C4C4C4;;
}
.button{
    font: 400 16px/1.5em sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}

.button td{
    text-align: center;
    vertical-align: middle;
    background-color: #38ABBA;
    border-radius: 2px;
    padding: 8px;
}

.button td:hover{
    transition: background .4s;
    background-color: #267580;
    cursor: pointer;
}
.button a {
    color: white;
    text-decoration: none;
    padding: 12px;
}

.container {
    margin: 0;
    left: 50%;
    position: fixed;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form {
    width: 510px;
    height: 300px;
    padding: 5px;
    border-radius: 4px;
}
.footer{
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    color: white;
    padding-top: 5px;
}
.inner{
    text-align: center;
    margin: 0;
    background-color: white;
}
.inner select{
    margin-top: 21px;
}

p#home a{
    text-transform: uppercase;
    padding-left: 8px;
    font-size: 12px;
    color: #C4C4C4;
    text-decoration: none;
}

select {
    text-align: center;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
.list{
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;

}
.list th{
    padding: 2px;
    font-size: 14px;
    /*background-color: #DDEDEB;*/
}
.list tr:nth-child(even){
    background-color: #D8E3C5;
}
.list td{
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 12px;
}
.info{
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #C4C4C4;
    text-align: justify;
    width: 310px;
    word-wrap: break-word;
    /*padding: 5px;*/
    border-radius: 4px;
}
/*
.list tr:hover{
    background-color: #E3C5CE;
}*/
