<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="../../css/Style.css">
    <link rel="shortcut icon" href="../../css/icon.png">
</head>
<body>
<header>

</header>
<nav>
    <div class="container">
        <div class="form">
            <h3 id="header">Payment</h3>
            <div class="inner">
                <table class="input">
                    <tr>
                        <th>
                            <p>Select Merchant</p>
                        </th>
                        <th>
                            <p>Customer ID</p>
                        </th>
                        <th>
                            <p>Goods</p>
                        </th>
                        <th>
                            <p>Price</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <select class="box">
                                <option>First merchant</option>
                                <option>Second merchant</option>
                                <option>Third merchant</option>
                            </select>
                        </td>
                        <td>
                            <form id="id" action="">
                                <input type="number" name="customerId" value="1" min="1" max="3">
                            </form>
                        </td>
                        <td>
                            <form id="goods" action="">
                                <input type="text" name="goods" value="Some goods..">
                            </form>
                        </td>
                        <td>
                            <form id="price" action="">
                                <input type="number" name="goods" value="0.00" min="0" step="0.1">
                            </form>
                        </td>
                    </tr>
                </table>
                <table class="button">
                    <tr>
                        <td><p><a href="">Back</a></p></td>
                        <td><p><a href="">Add New</a></p></td>
                    </tr>
                </table>
            </div>
            <div class="footer">
                <p id="home"><a href="">Home</a></p>
            </div>
        </div>
    </div>
</nav>
</body>
</html>