<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay List</title>
    <link rel="shortcut icon" href="../../css/icon.png">
    <link rel="stylesheet" type="text/css" href="../../css/Style.css">
</head>
<body>
<header>

</header>
<nav>
    <div class="container">
        <div class="form">
            <h3 id="header">Pay List</h3>
            <div class="inner">
                <table class="list">
                    <tr>
                        <th>ID</th>
                        <th>Merchant ID</th>
                        <th>Period</th>
                        <th>Minimal Sum</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>100.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>20.0</td>
                    </tr>
                </table>
                <table class="button">
                    <tr>
                        <form action="paylist.jsp" method="get">
                            <td><input type="submit" value="Back"></td>
                        </form>
                        <form action="/index.jsp" method="get">
                            <td><input type="submit" value="Home"></td>
                        </form>
                    </tr>
                </table>
            </div>
            <div class="footer">
                <p id="home"><a href="">Home</a></p>
            </div>
        </div>
    </div>
</nav>

</body>
</html>