<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="../../css/icon.png">
    <link rel="stylesheet" type="text/css" href="../../css/Style.css">
</head>
<body>
<div class="container">
    <div class="form">
        <h3 id="header">test</h3>
        <div class="inner">
            <div class="header">
                <p>Current unpaid paylists: </p>
            </div>
            <table class="list">
                <tr>
                    <th>id</th>
                    <th>Merchant Id</th>
                    <th>Period</th>
                    <th>Minimal Sum</th>
                </tr>
            </table>
            <div class="info">
                <p>Enter the amount of money for further processing</p>
            </div>
            <table class="input">
                <tr>
                    <td>
                        <p class="label">Available sum: </p>
                    </td>
                    <td>
                        <input id="sum" type="number" name="sum" value="1" min="1" disabled>
                    </td>
                    <td>
                        <select id="transfer" form="add" name="algorithm">
                            <option>hello</option>
                            <%
                            for (Merchant m: merchantService.findAll()){
                            out.print("<option" + " value=" + m.getId() + ">" + m.getName() + "</option>");
                            }
                            %>
                        </select>
                    </td>

                </tr>
            </table>
            <table class="button">
                <tr>
                    <form action="choice.jsp" method="get">
                        <td><input type="submit" value="Back" name="choice"></td>
                        <input type="hidden" value="Payments" name="go">
                    </form>
                    <form id="add" action="page_ok.jsp" method="post">
                        <td id="center"><input class="update" type="submit" value="Next" name="choice"></td>
                        <input type="hidden" value="Payments" name="go">
                    </form>
                </tr>
            </table>
        </div>
        <div class="footer">
            <p id="home"><a href="/index.jsp">Home</a></p>
        </div>
    </div>
</div>
</body>
</html>